---
import Layout from '../../layouts/Layout.astro'
import PostCard from '../../components/PostCard.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = (await getCollection('blog')).filter(
    (post) => import.meta.env.DEV || post.data.published !== false,
  )
  const categories = [...new Set(posts.map((post) => post.data.category))]

  return categories.map((category) => ({
    params: { category },
    props: {
      posts: posts.filter((post) => post.data.category === category),
    },
  }))
}

const { category } = Astro.params
const { posts } = Astro.props
const authors = (await getCollection('authors'))[0].data
---

<Layout title={`Category: ${category}`}>
  <section class="section-full">
    <div class="container-bordered">
      <div class="padding-responsive-md border-b border-gray-800">
        <h1 class="text-4xl font-light text-white">
          Posts in category: {category}
        </h1>
      </div>
      <div class="cards-grid">
        {
          posts.map((post) => {
            const author = authors.find((a) => a.slug === post.data.author)
            return (
              <PostCard
                title={post.data.title}
                date={post.data.date}
                category={post.data.category}
                imageUrl={post.data.imageUrl}
                excerpt={post.data.excerpt}
                authorName={author?.name}
                authorAvatar={author?.avatar}
                authorRole={post.data.authorRole || author?.role}
                link={`/blog/${post.slug}`}
              />
            )
          })
        }
      </div>
    </div>
  </section>
</Layout>
