---
import Layout from '../layouts/Layout.astro'
// import Hero from '../components/Hero.astro'
import PostCard from '../components/PostCard.astro'
import { getCollection } from 'astro:content'

// const heroProps = {
//   title: 'Blog',
//   subtitle: '...',
// }
const posts = (await getCollection('blog')).filter(
  (post) => import.meta.env.DEV || post.data.published !== false,
)
const authors = (await getCollection('authors'))[0].data
---

<Layout
  title="Blog"
  description="The Żentała Innovation Agency blog - insights, trends, and knowledge on technology, innovation, and business. Explore articles on DevEx, AI, IoT, and more."
>
  <!-- <Hero {...heroProps} /> -->

  <!-- <section
    class="bg-black text-white text-center flex justify-center items-center"
  >
    <div class="container mx-auto p-16 max-w-8xl border-x border-gray-800">
      <h1 class="text-8xl font-light">Blog Żentała Agency</h1>

      <div class="flex justify-between p-8 mt-8">
        <div class="w-1/3">
          <TextBlockIcon
            icon="🖥️"
            title="Insights"
            description="Practical Inisighs for Innovators, Funders, Business Owners, Statupers and Business Professionals"
          />
        </div>

        <div class="w-1/12"></div>

        <div class="w-1/3">
          <TextBlockIcon
            icon="📈"
            title="Trends"
            description="Discover the key trends and predictions about technology and its impact on business practices"
          />
        </div>

        <div class="w-1/12"></div>

        <div class="w-1/3">
          <TextBlockIcon
            icon="📚"
            title="Knowdlege"
            description="Access a curated and structured compilation of knowledge, available for free download"
          />
        </div>
      </div>
    </div>
  </section> -->

  <main class="bg-black flex border-y border-gray-800">
    <div class="container mx-auto border-x border-gray-800">
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
        {
          posts.map((post) => {
            const author = authors.find((a) => a.slug === post.data.author)
            return (
              <PostCard
                title={post.data.title}
                date={post.data.date}
                category={post.data.category}
                imageUrl={post.data.imageUrl}
                excerpt={post.data.excerpt}
                authorName={author?.name}
                authorAvatar={author?.avatar}
                authorRole={post.data.authorRole || author?.role}
                link={`/blog/${post.slug}`}
              />
            )
          })
        }
      </div>
    </div>
  </main>
</Layout>
