---
export interface Props {
  title: string
  subtitle: string
  image?: string
  link?: string
  key: string
}

const { title, subtitle, image, link, key } = Astro.props
---

<a
  href={link ?? '#'}
  class="block bg-black border border-gray-800 -m-px"
  data-key={key}
>
  <!-- {image && <img src={image} alt={title} class="w-full h-48 object-cover" />} -->
  <div class="p-16">
    <h2 class="text-2xl text-white font-light">{title}</h2>
    <p class="mt-2 text-lg text-gray-400">{subtitle}</p>
  </div>
</a>
