---
export interface PostProps {
  title: string
  date: string
  category: string
  imageUrl: string
  excerpt: string
  authorName: string
  authorAvatar: string
  authorRole: string
  link: string
}

const {
  title,
  date,
  category,
  // imageUrl,
  excerpt,
  authorName,
  authorAvatar,
  // authorRole,
  link,
} = Astro.props
---

<article class="flex flex-col items-start border border-gray-800 p-16 -m-px">
  <div class="flex items-center gap-x-2 text-gray-700">
    <img
      src={authorAvatar}
      alt={authorName}
      class="h-5 w-5 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="">
        <span class="font text-gray-400">
          <a href="/about/me">
            <span class="absolute inset-0"></span>
            {authorName}
          </a>
        </span>
        <br />
      </p>
    </div>
    ·
    <time datetime={date} class="text-gray-700">{date}</time>
    ·
    <a
      href="#"
      class="relative z-10 rounded-full px-2 py-1 text-gray-600 hover:text-gray-500"
    >
      {category}</a
    >
  </div>

  <div class="group relative">
    <h3 class="mt-3 text-3xl font-light text-white">
      <a href={link}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-5 line-clamp-3 text-lg leading-6 text-gray-300">
      {excerpt}
    </p>
  </div>
</article>
