---
export interface PostProps {
  title: string
  date: string
  category: string
  imageUrl: string
  excerpt: string
  authorName: string
  authorAvatar: string
  authorRole: string
  link: string
}

const {
  title,
  date,
  category,
  imageUrl,
  excerpt,
  authorName,
  authorAvatar,
  authorRole,
  link,
} = Astro.props
---

<article class="flex max-w-sm flex-col items-start justify-between">
  <img
    src={imageUrl}
    alt=""
    class="rounded-md mb-6 border-gray-600 shadow-md"
  />
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime={date} class="text-gray-500">{date}</time>
    <a
      href="#"
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >{category}</a
    >
  </div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href={link}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
      {excerpt}
    </p>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <img
      src={authorAvatar}
      alt={authorName}
      class="h-12 w-12 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="">
        <span class="font-semibold text-gray-900">
          <a href="/about/me">
            <span class="absolute inset-0"></span>
            {authorName}
          </a>
        </span>
        <br />
        <span class="text-gray-600">{authorRole}</span>
      </p>
    </div>
  </div>
</article>
